<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex="25">
      <app-widget-card label="Servicios mas solicitados" ></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="No hay servicios para atender hoy"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="Proximos Eventos"></app-widget-card>
    </mat-card>
  </div>
  <mat-divider></mat-divider>
  <mat-grid-list cols="2" rowHeight="350px">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
      
      <div fxFlex="40">
          <app-widget-pie [data]="pieChart"></app-widget-pie>
      </div>
  </div>
  </mat-grid-list>
</div>
