<div class="content">
    <mat-card>
        <mat-card-header>
            <h1 mat-dialog-title> {{ titulo }} </h1>
        </mat-card-header>
        <br>
        <div mat-dialog-content style="height: 740px;">
            <form [formGroup]='formControlCreateEvent'> 
                <div fxLayout="column" fxLayoutAlign="space-between right" fxLayoutGap="10px" class="stats-cards">
                    <mat-form-field appearance="outline">
                        <mat-label>Nombre del evento</mat-label>
                        <input matInput formControlName='nombreEvento' placeholder="Nombre Evento" >
                        <mat-hint align="end">Nombre del Evento</mat-hint>
                    </mat-form-field>
                    <mat-form-field appearance="fill"  class="form-control">
                        <mat-label>Fecha del Evento</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName='fecha' >
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                   <!-- <div class="mb-3">
                      <label class="form-label">Hora Inicio Evento</label>
                      <input type="time" class="form-control" required formControlName='horaInicio' step="2">
                      <div>
                        <div id="emailHelp" class="form-text">Este campo es obligatorio</div>
                      </div>
                      <label class="form-label">Hora Finalización Evento</label>
                      <input type="time" class="form-control" required formControlName='horaFin' step="2">
                      <div>
                        <div id="emailHelp" class="form-text">Este campo es obligatorio</div>
                      </div>
                    </div> -->
                    <mat-form-field appearance="fill">
                      <mat-label>Estado</mat-label>
                      <mat-select formControlName='estado'>
                          <mat-option selected disabled >Seleccione......</mat-option>
                          <mat-option [value]="estados" *ngFor="let estados of listEstado">{{estados.estado}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                <div mat-dialog-actions>
                  <button mat-button data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="agregarServiciosAlEvento()">Seleccionar Servicio</button>
                </div>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Nombre Servicio</th>
                      <th scope="col">cantidad</th>
                      <th scope="col">Valor Unidad</th>
                      <th scope="col">Valor total</th>
                      <th scope="col">Contacto</th>
                      <th scope="col">Pagar</th>
                      <th scope="col">borrar</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let itemServicioSelect of ListaServSeleccionado">
                      <td>
                        {{itemServicioSelect.nombreServicio}}
                      </td>
                      <td>
                        <input type="number" value="{{itemServicioSelect.cantidad}}" min="1" max="50" name="cantidad" (change)="cambiarValorTotal(itemServicioSelect.idServicio)">
                      </td>
                      <td>
                        {{itemServicioSelect.precionUnidad}}
                      </td>
                      <td>
                        {{itemServicioSelect.valorTotal}}
                      </td>
                      <td>
                        <a (click)="toWhatsApp()">
                          <img src="../../../../assets/img/WhatsApp_Logo_3.png" height="50px" />
                        </a>
                      </td>
                      <td>
                        <a (click)="toPay()">
                          <!--<img src="../../../assets/img/logo-pse.png" height="50px" />-->
                          <img src="https://www.nequi.com.co/wp-content/themes/nequi/img/logo_nequi_header.svg" height="20px" />
                        </a>
                      </td>
                      <td>
                        <button mat-mini-fab color="primary" type="button" class="btn btn-danger" (click)="borrar(this.itemServicioSelect.idServicio)">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="3">Valor total de la orden</td>
                      <td colspan="1" >{{crearOrden.precioTotal}}</td>
                    </tr>
                  </tfoot>
                </table>
                <div mat-dialog-actions>
                    <button mat-button type="submit" (click)="createEvent()" >Guardar</button>
                </div>
              </div>
            </form>
        </div>
        <br>

    </mat-card>
</div>

