<div class="content">
    <mat-card>
        <mat-card-header>
            <h1 mat-dialog-title> {{ titulo }} </h1>
        </mat-card-header>
        <div mat-dialog-content style="width: 600px;">
            <form (ngSubmit)="createEvent()">
                <div fxLayout="column" fxLayoutAlign="space-between right" fxLayoutGap="10px" class="stats-cards">
                    <mat-form-field appearance="outline">
                        <mat-label for="nombreEvento">Nombre del evento</mat-label>
                        <input matInput type="text" name="nombreEvento" id="nombreEvento" [(ngModel)]="crearOrden.nombreEvento" placeholder="Nombre Evento"  #nombreEvento="ngModel">
                        <mat-hint align="end">Nombre del Evento</mat-hint>
                        <div *ngIf="nombreEvento.invalid && (nombreEvento.dirty || nombreEvento.touched)">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                    </mat-form-field> 
                    <mat-form-field appearance="fill">
                      <mat-label>Fecha del Evento</mat-label>
                      <input matInput [matDatepicker]="picker" name='fecha' id ='fecha' required [(ngModel)]="crearOrden.horario.fecha" #fecha="ngModel">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                      <div *ngIf="fecha.invalid && (fecha.dirty || fecha.touched)">
                        <div id="emailHelp" class="form-text">Este campo debe tener formato de fecha</div>
                      </div>
                    </mat-form-field>
                    <div class="mb-3">
                      <label for="hora" class="form-label">Hora Inicio Evento</label>
                      <input type="time" class="form-control" required [(ngModel)]="crearOrden.horario.hora" #hora="ngModel"
                        id="hora" name="hora" step="2">
                      <div *ngIf="hora.invalid && (hora.dirty || hora.touched)">
                        <div id="emailHelp" class="form-text">Este campo es obligatorio</div>
                      </div>
                    </div>
                    <mat-form-field appearance="fill">
                      <mat-label>Estado</mat-label>
                      <mat-select name="estado" id="estado" [(ngModel)]="crearOrden.estado" #estado="ngModel">
                          <mat-option selected disabled >Seleccione......</mat-option>
                          <mat-option [value]="estados" *ngFor="let estados of listEstado">{{estados.estado}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                </div>
                <div mat-dialog-actions>
                  <button mat-button data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="openDialogListarServicios()">Seleccionar Servicio</button>
               </div>
               <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Nombre Servicio</th>
                    <th scope="col">cantidad</th>
                    <th scope="col">Valor Unidad</th>
                    <th scope="col">valor total</th>
                    <th scope="col">Contacto</th>
                    <th scope="col">Pagar</th>
                    <th scope="col">borrar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let itemServicioSelect of ListaServSeleccionado">
                    <td>
                      {{itemServicioSelect.nombreServicio}}
                    </td>
                    <td>
                      <input type="number" value="{{itemServicioSelect.cantidad}}" min="1" max="50" name="cantidad" (change)="cambiarValor()">
                    </td>
                    <td>
                      {{itemServicioSelect.precionUnidad}}
                    </td>
                    <td>
                      {{itemServicioSelect.valorTotal}}
                    </td>
                    <td>
                      <a (click)="toWhatsApp()">
                        <img src="../../../../assets/img/WhatsApp_Logo_3.png" height="50px" />
                      </a>
                    </td>
                    <td>
                      <a (click)="toPay()">
                        <!--<img src="../../../assets/img/logo-pse.png" height="50px" />-->
                        <img src="https://www.nequi.com.co/wp-content/themes/nequi/img/logo_nequi_header.svg" height="20px" />
                      </a>
                    </td>
                    <td>
                      <button type="button" class="btn btn-danger" (click)="borrar(this.itemServicioSelect.idServicio)">
                        Borrar
                      </button>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="3">Valor total de la orden</td>
                    <td colspan="2" >{{crearOrden.precioTotal}}</td>
                  </tr>
                </tfoot>
              </table>
                <div mat-dialog-actions>
                    <button type="submit" mat-button >Guardar</button>
                </div>
            </form>
        </div>
        <br>
        
    </mat-card>
</div>
<!-- Modal -->
<!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <app-listado-servicios (servicioSeleccionado)="servicioSeleccionado"></app-listado-servicios>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="saveChanges()">Save
            changes</button>
        </div>
      </div>
    </div>
  </div>-->
