.contenedor-Perfil
{
  padding-left: 2%;
  padding-top: 2%;
  padding-right: 1%;

}
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.contenido-formulario
{
  margin: 2%;
  padding: 1%;
}
.mat-form-field
{
 margin-left: 1%;
 width: 30%;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;

}
.inputfile + label {
  font-size: 1.25em;
  font-weight: 700;
  color: rgb(71, 67, 67);
  background-color: rgba(146, 141, 141, 0.281);
  display: inline-block;
  height: 45px;
  width: 30%;
  text-align: center;
  padding: 5px;
  margin-top: 14px;
  border-bottom :6px ;
  margin-left: 1%;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: rgba(64, 67, 71, 0.514);
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
	outline: 1px dotted rgb(201, 200, 200);
	outline: -webkit-focus-ring-color auto 5px;
}
.Btn-actions
{
  margin-left: 40%;
}
