<div class="content">
    <mat-card > 
        <mat-card-header>
            <h1 mat-dialog-title> Modificar Servicio </h1>
        </mat-card-header>
        <br>
        <div mat-dialog-content style="width: 600px;">
            <form >
                <div fxLayout="column" fxLayoutAlign="space-between right" fxLayoutGap="10px" class="stats-cards">
                    <mat-form-field appearance="fill">
                        <mat-label>Nombre Servicio</mat-label>
                        <input matInput type="text" name="nombreServicio" id="nombreServicio" value="{{servicio.nombreServicio}}" [(ngModel)]="servicio.nombreServicio">
                        <mat-hint align="end">Nombre del Servicio</mat-hint>
                    </mat-form-field> 
                    <mat-form-field appearance="fill">
                        <mat-label>Categoría</mat-label>
                        <mat-select name="categoria" id="categoria" [(ngModel)]="servicio.categoria">
                            <mat-option selected disabled >Seleccione......</mat-option>
                            <mat-option [value]="cat" *ngFor="let cat of categorias">{{cat.nombreCategoria}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Precio Servicio</mat-label>
                        <input matInput type="number" id="precionUnidad" name="precionUnidad"  value="{{servicio.precionUnidad}}" [(ngModel)]="servicio.precionUnidad">
                        <mat-hint align="end">Precio Servicio</mat-hint>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Direccion Servicio</mat-label>
                        <input matInput type="text" id="dirservicio" name="dirservicio" value="{{servicio.direccion}}" [(ngModel)]="servicio.direccion">
                        <mat-hint align="end">Dirección Servicio</mat-hint>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Descripcon Servicio</mat-label>
                        <input matInput type="text" id="descripcion" name="descripcion"  value="{{servicio.descripcionServicio}}" [(ngModel)]="servicio.descripcionServicio">
                        <mat-hint align="end">Descripcon Servicio</mat-hint>
                    </mat-form-field>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input"
                            id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                    </div>
                </div>
                <br>
                <div mat-dialog-actions>
                    <button type="submit" mat-button (click)="actualizarServicio()" >Guardar</button>
                </div>
            </form>
        </div>
    </mat-card>
</div>

