<div *ngIf="user;" >
    <mat-nav-list>
        <div class="profile-card">
            <div class="header">
                <h2>Hola {{nombreUsuario}}</h2>
            </div>
            <img src="data:image/png;base64,{{usuario.imagen}}" alt="USU IMG">
        </div>
        <mat-divider></mat-divider>
        <h2 matSubheader>Pages </h2>
       <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
            <mat-icon>home</mat-icon>
            Home
        </a> -->
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/list">Lista de Servicios</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/consult_events">Mis Eventos</a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/consult_services">Mis Servicios</a>
        <mat-divider></mat-divider>

        <h2 matSubheader>Herramientas</h2>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard-user" >
            <mat-icon>import_contacts</mat-icon>
            Editar Perfil
        </a>
       <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
            <mat-icon>contact_phone</mat-icon>
            Contactenos
        </a>
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
            <mat-icon>contact_phone</mat-icon>
            Sobre nosotros
        </a> -->
    </mat-nav-list>
</div>

