<div class="container">


  <!-- Panels -->
  <div class="swipe">
    <div class="panel" data-img="../../../assets/img/audience-gaf3ba073c_1920.jpg"></div>
    <div class="panel" data-img="../../../assets/img/beer-g507e31495_1920.jpg"></div>
    <div class="panel" data-img="../../../assets/img/concert-ga78b2caba_1280.jpg"></div>
    <div class="panel" data-img="../../../assets/img/champagner-g5c80227d2_1920.jpg"></div>
    <div class="panel" data-img="../../../assets/img/eventos-sociales.jpg"></div>
    <div class="panel" data-img="../../../assets/img/fireworks-g8c5836689_1920.jpg"></div>
    <div class="panel" data-img="../../../assets/img/hand-g75331b2bf_1920.jpg"></div>


  </div>

  <!-- Info -->
  <div class="info">
    <div class="inner">
      <h3>Simply swipe on any device!</h3>
      <p>Use this buttons or your fingers. No matter what you do, no matter which device you choose, the picture will swipe and swipe again!</p>
    </div>
    <div class="buttons">
      <button class="btn-prev" disabled>&larr;</button>
      <button class="btn-next">&rarr;</button>
    </div>
  </div>

</div>

<!--
==================
==================
Optional Content
==================
==================
<div class="optional">
  <h3>Lorem ipsum dolor sit amet.</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus asperiores natus minus ab sit. Ipsum iste, doloribus suscipit ducimus ea repudiandae consequatur soluta repellat saepe fuga, velit odit odio facilis, at sunt quis quo molestias quae. Ullam nisi, error facilis nobis maxime numquam quaerat, voluptatibus sit debitis ea quasi incidunt?</p>
</div>
-->

<!-- Google Font -->
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">


