
<div mat-dialog-content style="width: 600px;">
    <form (ngSubmit)="submit()">
        <div fxLayout="column" fxLayoutAlign="space-between right" fxLayoutGap="10px" class="stats-cards">
            <div class="input-file"> 
                <input type="file" id="file" formControlName='imagenServicio' class="input-file-input" (change)="cargarImagen($event)"> 
                <label for="" class="input-file-btn">
                    Seleccionar archivo
                </label>
            </div>
            <button type="subtmit" class="btn btn-info">Agregar Imagen</button>
            <p>
            <!--<mat-checkbox  formControlName='terminosCondiciones' class="example-margin">Acepta  <a href="">Termninos y Condiciones </a> </mat-checkbox> -->
        </div>
        
        <div mat-dialog-actions>
            <button type="submit" mat-button color="primary" >Guardar</button>
            <button mat-button mat-dialog-close>Close</button>
          </div>
    </form>
</div>
