<mat-card class="example-card">

    <hr>
    <mat-card-content style="align-content: center;">
        <div class="box" >
            <div class="one">
                <h4>Descripcion de la  compañia</h4>
                <p class="text-reset">
                  Ofrecemos la tranquilidad de que pueda realizar sus eventos con los diferentes artistas y servicios de su preferencia, la cual pude pagar y comentar para que este sea reconocido, cada uno de los servicios puede ser analizado.
                </p>
            </div>
            <div class="two">
                <h4>
                    Servicios
                </h4>
                <p>
                    <a  class="text-reset">Musica</a>
                  </p>
                  <p>
                    <a  class="text-reset">Comida</a>
                  </p>
                  <p>
                    <a  class="text-reset">Salones</a>
                  </p>
                  <p>
                    <a  class="text-reset">Proximamente Eventos empresariales</a>
                  </p>
            </div>
            <div class="three">
                <h4>
                   Comodidades
                </h4>
                <p>
                <a  class="text-reset">Precio</a>
                </p>
                <p>
                <a  class="text-reset">Sleccion de servicios</a>
                </p>
                <p>
                <a  class="text-reset">Ordenes</a>
                </p>
                <p>
                <a class="text-reset">Ayuda</a>
                </p>
            </div>
            <div class="fourth">
                <h4 class="text-uppercase fw-bold mb-4">
                    Contactenos
                </h4>
                <p><i class="fas fa-home me-3"></i>Colombia, Bogot&aacute; D.C</p>
                <p>
                <i class="fas fa-envelope me-3"></i>
                alistar&#64;gmail.com
                </p>
                <p><i class="fas fa-phone me-3"></i> + 601 0180006569845</p>
                <p><i class="fas fa-print me-3"></i> + 601 234 567 89</p>
            </div>
        </div>
    </mat-card-content>
</mat-card>

    <p class="copy" >
        {{copy}}
        <a  href="https://localhost:4200/">{{alistar}}</a>
    </p>


