<mat-card class="example-card">

    <hr>
    <mat-card-content style="align-content: center;">
        <div class="box" >
            <div class="one">
                <h4>Descripcion de la  compañia</h4>
                <p class="text-reset">
                    Acá va la descripción de la compañía
                </p>
            </div>
            <div class="two">
                <h4>
                    Products
                </h4>
                <p>
                    <a href="#!" class="text-reset">Musica</a>
                  </p>
                  <p>
                    <a href="#!" class="text-reset">Comida</a>
                  </p>
                  <p>
                    <a href="#!" class="text-reset">Salones</a>
                  </p>
                  <p>
                    <a href="#!" class="text-reset">Proximamente Autoviles</a>
                  </p>
            </div>
            <div class="three">
                <h4>
                    Useful links
                </h4>
                <p>
                <a href="#!" class="text-reset">Precio</a>
                </p>
                <p>
                <a href="#!" class="text-reset">Herramientas</a>
                </p>
                <p>
                <a href="#!" class="text-reset">Ordenes</a>
                </p>
                <p>
                <a href="#!" class="text-reset">Ayuda</a>
                </p>
            </div>
            <div class="fourth">
                <h4 class="text-uppercase fw-bold mb-4">
                    Contact
                </h4>
                <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
                <p>
                <i class="fas fa-envelope me-3"></i>
                alistar@gmail.com
                </p>
                <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
            </div>
        </div>
    </mat-card-content>
</mat-card>

    <p class="copy" >
        {{copy}}
        <a  href="https://localhost:4200/">{{alistar}}</a>
    </p>


