.example-card {
  max-width: 100%;
}

.example-header-image {
  background-size: cover;
}

.box {
  display: flex;
}

.one {
  flex: 1 1 auto;
  max-width: 400px;
}

.two {
  flex: 1 1 auto;
  max-width: 400px;
}

.three {
  flex: 1 1 auto;
  max-width: 400px;
}

.fourth {
  flex: 1 1 auto;
  max-width: 400px;
}

.example-footer {
  align-items: center;
  text-align:center;
}

.text-reset {
  color: grey;
}
.copy {
  align-content: center;
  text-align: center;
}
