.example-card {
    max-width: 1360px;
}
  
.example-header-image {
    background-size: cover;
}

.box {
    display: flex;
}

.one {
    flex: 1 1 auto;
    max-width: 400px;
}   

.two {
    flex: 1 1 auto;
    max-width: 400px;
}

.three {
    flex: 1 1 auto;
    max-width: 400px;
}

.fourth {
    flex: 1 1 auto;
    max-width: 400px;
}

.example-footer {
    text-align:center;  
}

.text-reset {
    color: grey;
}
