<div class="content">
    <mat-card>
        <mat-card-header style="text-align: center;">
            <mat-card-title>
                {{titulo}}
            </mat-card-title>
        </mat-card-header>
        <mat-card-content> 
            <br>
            <div class="alert alert-info" *ngIf="eventosUsuarios?.length == null || eventosUsuarios?.length == 0" >
                No hay eventos en el sistema.
            </div>
            <div *ngIf="eventosUsuarios?.length != null || eventosUsuarios?.length != 0">
                <table>
                    <thead>
                        <th>
                            Acciones
                        </th>
                        <th>
                            Id evento
                        </th>
                        <th>
                            Cantidad
                        </th>
                        <th>
                            Servicio
                        </th>
                        <th>
                            Valor Total
                        </th>
                    </thead>
                    <tbody style="color: black; text-align: center;" >
                        <tr *ngFor="let item of eventosUsuarios">
                            <td>
                                Ver, Editar, Borrar
                            </td>
                            <td>
                                {{item.idEvento}}
                            </td>
                            <td>
                                {{item.servicio}}
                            </td>
                            <td>
                                {{item.cantidad}}
                            </td>
                            <td>
                                {{item.valorTotal}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <button mat-raised-button  routerLink="/create_events">
                Crear eventos
            </button>
        </mat-card-content>
    </mat-card>
</div>


