<div class="content">
    <mat-card>
        <mat-card-header style="text-align: center;">
            <mat-card-title>
                {{titulo}}
            </mat-card-title>
        </mat-card-header>
        <mat-card-content> 
            <br>
            <div class="alert alert-info" style="text-align: left;" *ngIf="eventosUsuarios?.length == 0" >
                No hay eventos en el sistema.
            </div>
            <div *ngIf="eventosUsuarios?.length != 0">
                <table>
                    <thead>
                        <th>
                            Id evento
                        </th>
                        <th>
                            Nombre Evento
                        </th>
                        <th>
                            Horario
                        </th>
                        <th>
                            Valor Total
                        </th>
                        <th>
                            Estado
                        </th>
                        <th colspan="3">
                            Acciones
                        </th>
                    </thead>
                    <tbody style="color: black; text-align: center;" >
                        <tr *ngFor="let item of eventosUsuarios">
                            <td>
                                Ver, Editar, Borrar
                            </td>
                            <td>
                                {{item.idOrden}}
                            </td>
                            <td>
                                {{item.nombreEvento}}
                            </td>
                            <td>
                                {{item.horario}}
                            </td>
                            <td>
                                {{item.precioTotal}}
                            </td>
                            <td>
                                {{item.estado}}
                            </td>
                            <td>
                                <button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon" >
                                    <mat-icon>info</mat-icon>
                                </button>
                            </td>
                            <td>
                                <button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon" >
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </td>
                            <td>
                                <button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon" >
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <button mat-raised-button routerLink="/create_events">
                Crear eventos
            </button>
        </mat-card-content>
    </mat-card>
</div>


