<div class="content">
  <div fxLayout="row warp" fxLayoutGap="16px">
    <mat-card>
      <mat-card-header>
        <mat-card-title >Animate a ofrecer experiencias</mat-card-title>
      </mat-card-header>
      <img class="img" style="max-width: 400px;" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Publica tus productos y servicios, haz visible lo que puedes ofrecer para brindar experiencias en eventos sociales
        </p>
      </mat-card-content>
      <mat-card-actions >
        <button mat-button routerLink="/consult_services" >Ofrecer tus Servicios</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
