.example-form {
  width: 100%;
}
mat-form-field {
  width: 100%;
}

mat-card-header{
  padding: 12px ;
  text-align: center;
  background-color: #0c58a4;
  color: white;  
}

.content {
  width: 500px;
  text-align: center;
  align-content: right;
}

button {
  background-color: #083A80;
  font-size: 1rem;
  font-variation-settings: "wght" 625;
  letter-spacing: -.75px;
  color: #fff;
}

.load {
  margin-left: 10%;
  margin-bottom: 20%;
  position: fixed;
  padding: 5%;
}

