<mat-card>
  <mat-card-header>
    <h1>Acceder</h1>
  </mat-card-header>
  <mat-card-content>
    <form  [formGroup]="formUserControl" (ngSubmit)="onSubmit()" class="example-form">

      <mat-form-field hintLabel="Max 10 characters" appearance="fill">
        <mat-label>Enter some input</mat-label>
        <input matInput #input maxlength="10" formControlName='username' placeholder="Ex. Nougat">
        <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>ingrese su contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'"  formArrayName='password' formControlName='password'>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-card-actions>
        <button  mat-raised-button color="primary" type="submit"  >
          Enviar
        </button>
        <button mat-button color="primary">
          Recuperar contraseña
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>

  <mat-card-footer>
    <button mat-button mat-dialog-close>Close</button>
  </mat-card-footer>
</mat-card>
