<mat-toolbar color="basic">
  <mat-toolbar-row >
    <a class="navbar-brand" routerLink="" routerLinkActive="active" (click)="toggleSideBar()">
      <img src="../../../../assets/img/lista-logo.png" alt="" width="50" height="54">
    </a>
    <span class="example-spacer"></span>
    <div ></div>
    <button mat-button (click)='openDialogSession()'*ngIf="!user">
      <mat-icon>person_outline</mat-icon>
      Inciar sesion
    </button>
    <button mat-button (click)='openDialogRegistro()' *ngIf="!user">
      <mat-icon>library_add</mat-icon>
      Registrarse
    </button>
    <button mat-button (click)="logout()" *ngIf="user" >
      <mat-icon>exit_to_app</mat-icon>
      Cerrar sesion
    </button>
  </mat-toolbar-row>
</mat-toolbar>



