<div class="content">
    <mat-card>
        <mat-card-header style="text-align: center;">
            <mat-card-title>
                {{titulo}}
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <br>
            <div class="alert alert-info"  style="text-align: left;" *ngIf="serviciosUsuarios?.length === 0">
                No hay servicios para este usuario.
            </div>
            <div *ngIf="serviciosUsuarios?.length !== 0">
                <table>
                    <thead>
                        <th>
                            Id servicio
                        </th>
                        <th>
                            Nombre servicio
                        </th>
                        <th>
                            Categoria
                        </th>
                        <th>
                            Proveedor
                        </th>
                        <th colspan="3">
                            Acciones
                        </th>
                    </thead>
                    <tbody style="color: black; text-align: center;" >
                        <tr *ngFor="let item of serviciosUsuarios">
                            <td>
                                {{item.idServicio}}
                            </td>
                            <td>
                                {{item.nombreServicio}}
                            </td>
                            <td>
                                {{item.categoria.nombreCategoria}}
                            </td>
                            <td>
                                {{item.proveedor.nombre}}
                            </td>
                            <td>
                                <button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon" (click)='openDialogViewService(item.idServicio)'>
                                    <mat-icon>info</mat-icon>
                                </button>
                            </td>
                            <td>
                                <button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon" (click)='openDialogEditService(item.idServicio)'>
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </td>
                            <td>
                                <button mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon" (click)='openDialogDeleteService(item.idServicio)'>
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <button mat-raised-button  (click)='openDialogCreateService()'>
                <mat-icon>add</mat-icon>
                Crear servicio
            </button>
        </mat-card-content>
    </mat-card>
</div>

