.example-card {
  max-width: 350px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
div.repetir
{
  float: left;
  display: flex;
  flex-wrap: wrap;
}
div.repetir >mat-card{
  margin: 20px;
}

mat-card-header{
  padding: 12px ;
  text-align: center;
  opacity: 0.8; 
}

.imagen {
  padding: 10%;
}
